html, body {
	color: white;
}


/*NAVBAR*/
@media all and (min-width:767px) {
	/* .navbar-brand{
        display: none;
    }
    */
	.navbar-nav {
		display: flex;
		flex: 1;
	}
}

@media all and (max-width:767px) {
	ul.nav.navbar-nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media all and (max-width:767px) {
	.navbar-brand {
	}
}

@media all and (min-width:767px) {
	.right-nav {
		float: right !important;
	}
}

nav.navbar.navbar-default {
	background-color: #d2ab99de;
	color: #f2dede;
}

.navbar-default .navbar-toggle .icon-bar {
	/*background-color: #f2dede;*/
}

button.navbar-toggle.collapsed {
	border-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

button.navbar-toggle.collapsed {
	background-color: #d2ab99de;
}
